html
{
	font-size:16px;
	font-family:"Times New Roman", Times, serif;
	font-color:black;
	background-color:#65A4D1;
	padding:10px;
}

body
{
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	width:1200px;
	height:500px;
	background-color:white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:15px;
}

.sectionHeader
{
	font-size:24px;
	color:#00723E;
}

#projectControlls
{
	left:0px;
	top:350px;
	position:relative;
	background-color:#61D8A2;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:15px;
	width:200px;
	height:60px;
}

#runProject
{
	background-color:#0A64A3 !important;
}