/* Overall Positioning of UI */

html {width:100%; height:100%; }

body { min-width:1200px; min-height:800px; }

.left { height:800px !important; width:300px; float:left }
.right { height:800px !important; width:300px; float:right}
.pane {height:300px; overflow:auto;}
.accordion { height:90% }
