/* Overall Positioning of UI */

html {width:100%; height:100%; }

body { width:1000px; height:650px; margin-left:auto; margin-right:auto; font-size:0.75em;}

img {width: 100px; height: 100px; }

.left { height:650px !important; width:250px; float:left }
.right { height:650px !important; width:250px; float:right}
.middle { height:650px width:500px; float:left }
.pane {padding: 5px; height:482px; overflow:auto;}
.accordion { height:90% }
.accordion .ui-accordion-content { padding:5px; }

.leftTable { width:100%; text-align:center; }

#canvas { height:600px; width:500px; float:left }

input { width:100%; }

ul {list-style-type:none; padding: 5px; }
li { padding:4px; border-radius:5px; margin:5px; color:#FFFFFF; background-color:#87C04C }

h4 { background-color:#CCCCCC; font-size:1em; }
