<html>
<body>
<!--Need to put in middle portion!-->
	<div class="left accordian">
		<h2 class="current">Worlds</h2>
		<div class="pane">{* worlds.html *}</div>

		<h2>Classes</h2>
		<div class="pane">{* classes.html *}</div>

		<h2>Events</h2>
		<div class="pane">{* events.html *}</div>
	
		<h2>Methods</h2>
		<div class="pane">{* methods.html *}</div>
	
		<h2>Project</h2>
		<div class="pane">{* project.html *}</div>	
	</div>
	
	<div>
		<h2>Project</h2>
		<div class="horizbuttonbar">
			<a rel="stylesheet" href="theme.css"></a>
			<a rel="stylesheet" href="theme.css"></a>
			<a rel="stylesheet" href="theme.css"></a>
			<a rel="stylesheet" href="theme.css"></a>
		</div>
	</div>
	<div class="horizbuttonbar">
		<a rel="stylesheet" href="theme.css"></a>
		<a rel="stylesheet" href="theme.css"></a>
	</div>
	
	<div class="right accordian">

		<h2 class="current">Class Information</h2>
		<div class="pane">{* class_information.html *}</div>

		<h2>Creation</h2>
		<div class="pane">{* creation.html *}</div>

		<h2>Attributes</h2>
		<div class="pane">{* attributes.html *}</div>
		
		<h2>Behavior</h2>
		<div class="pane">{* behavior.html *}</div>
		
		<h2>Components</h2>
		<div class="pane">{* components.html *}</div>

	</div>
</body>
</html>
