<html>
<body>
<!--Need to put in middle portion!-->
	<div class="left accordian">
		<h2 class="current">Worlds</h2>
		<div class="pane">world content</div>

		<h2>Classes</h2>
		<div class="pane">class content</div>

		<h2>Events</h2>
		<div class="pane">event content</div>
	
		<h2>Methods</h2>
		<div class="pane">methods content</div>
	
		<h2>Project</h2>
		<div class="pane">project content</div>	
	</div>
	
	<div>
		<h2>Project</h2>
		<div class="horizbuttonbar">
			<a rel="stylesheet" href="theme.css"></a>
			<a rel="stylesheet" href="theme.css"></a>
			<a rel="stylesheet" href="theme.css"></a>
			<a rel="stylesheet" href="theme.css"></a>
		</div>
	</div>
	<div class="horizbuttonbar">
		<a rel="stylesheet" href="theme.css"></a>
		<a rel="stylesheet" href="theme.css"></a>
	</div>
	
	<div class="right accordian">

		<h2 class="current">Class Information</h2>
		<div class="pane">... pane content ...</div>

		<h2>Creation</h2>
		<div class="pane">... pane content ...</div>

		<h2>Attributes</h2>
		<div class="pane">... pane content ...</div>
		
		<h2>Behavior</h2>
		<div class="pane">... pane content ...</div>
		
		<h2>Components</h2>
		<div class="pane">... pane content ...</div>

	</div>
</body>
</html>
