<head>
	<script src="/static/jslibs/jquery.js" type="text/javascript"></script>
	<script src="/static/jslibs/jquery-ui.js" type="text/javascript"></script>
	<script src="/static/jslibs/include.js" type="text/javascript"></script>
  <script src="/static/jslibs/sprintf.js" type="text/javascript"></script>
  <script src="/static/jslibs/jsyaml.js" type="text/javascript"></script>
  <script src="/static/jslibs/base2.js" type="text/javascript"></script>
	<script src="/static/js/guiinit.js" type="text/javascript"></script>
  <script src="/static/js/modelfactory.js" type="text/javascript"></script>
  <script src="/static/js/modelgateway.js" type="text/javascript"></script>
	<link type="text/css" rel="stylesheet" href="/static/css/custom-theme/jquery-ui-1.8.16.custom.css">
	<link type="text/css" rel="stylesheet" href="/static/css/sirpple-css.css">
</head>
<html>
<body>
<!--Need to put in middle portion!-->
  <div class="left"> 
    <div class="accordion">
      <h3 class="current"><a href="#">Worlds</a></h3>
      <div class="pane"><div class="pane-one">{* worlds.html *}</div></div>

      <h3><a href="#">Classes</a></h3>
      <div class="pane">{* classes.html *}</div>

      <h3><a href="#">Events</a></h3>
      <div class="pane">{* events.html *}</div>
    
      <h3><a href="#">Methods</a></h3>
      <div class="pane">{* methods.html *}</div>
    
      <h3><a href="#">Project</a></h3>
      <div class="pane">{* project.html *}</div>	
    </div>	
    <div>
      <h2>Project</h2>
      <div class="horizbuttonbar">
        
      </div>
    </div>
  </div>
	
  <div class="right"> 
    <div class="accordion">
      <h3 class="current"><a href="#">Class Information</a></h3>
      <div class="pane"><div class="pane-one"> {* class_information.html *}</div></div>

      <h3><a href="#">Creation</a></h3>
      <div class="pane">{* creation.html *}</div>

      <h2><a href="#">Attributes</a></h2>
      <div class="pane">{* attributes.html *}</div>
      
      <h2><a href="#">Behavior</a></h2>
      <div class="pane">{* behavior.html *}</div>
      
      <h2><a href="#">Components</a></h2>
      <div class="pane">{* components.html *}</div>
    </div>
  </div>
</body>
</html>
