<html>
<body>

<table width="300" height="200" border ="1">
<tr>
</tr>
</table>
<table border = "0">
<tr>
<td width = 175></td>
<td> <input type="button" value= "Add"></td>
<td> <input type="button" value= "Remove"></td>
</table>

<form>
Name: <input type="text" name="name" /><br />
</form>
<table border = "0">
<tr>
<td> Type: </td>
<td> 
<form action="">
<select name="type">
<option value="integer" selected="selected">integer</option>
<option value="double">double</option>
<option value="boolean">boolean</option>
<option value="string">string</option>
</select>
</form> 
</td>
</table>
<form>
Default Value: <input type="text" name="defaultvalue" /><br />
</form>

</body>
</html>
