<html>
<body>

<!-- Not sure if this is the right formatting here
Also missing defalt selected data for each (Also see similar in attributes.html & components.html-->
<table width="300" height="200" border ="1">
<tr>
</tr>
</table>
<table border = "0">
<tr>
<td width = 175></td>
<td> <input type="button" value= "Add"></td>
<td> <input type="button" value= "Remove"></td>
</table>

<table width="300" height="200" border ="1">
<tr>
</tr>
</table>
<table border = "0">
<tr>
<td width = 130></td>
<td><input type="button" value= "Add"></td>
<td> <input type="button" value= "Edit"></td>
<td> <input type="button" value= "Remove"></td>
</table>

</body>
</html>
