<html>
<body>
<p style="background-color:CCCCCC;font-size:16px;" >GameWorld</p>

<form>
Width: <input type="text" name="width" /><br />
Height: <input type="text" name="height" /><br />
</form>
<form>
X offset: <input type="text" name="xoffset" /><br />
Y offset: <input type="text" name="yoffset" /><br />
</form>
<table border = "0">
<tr>
<td>
Background: </td>
<td>
<form action="">
<select name="backgroundtype">
<option value="Image" selected="selected">Image</option>
</select>
</form> 
</td>
<tr> <td></td> 
<td>
<form action="">
<select name="backgroundimage">
<option value="bg1.png" selected="selected">bg1.png</option>
</select>
</form> 
</td>
</tr>
<tr> <td></td> 
<td>
<input type="button" value= "Images...">
</td>
</table>

<p style="background-color:CCCCCC;font-size:16px;" >Constructor</p>

<p>Parameters:</p>
<table width="300" height="50" border ="1">
<tr>
</tr>
</table>
<table border = "0">
<tr>
<td width = 130></td>
<td><input type="button" value= "Add"></td>
<td> <input type="button" value= "Edit"></td>
<td> <input type="button" value= "Remove"></td>
</table>

<p>Actions:</p>
<table width="300" height="50" border ="1">
<tr>
</tr>
</table>
<table border = "0">
<tr>
<td width = 130></td>
<td><input type="button" value= "Add"></td>
<td> <input type="button" value= "Edit"></td>
<td> <input type="button" value= "Remove"></td>
</table>

</body>
</html>
