<h4> GameWorld</h4>
  <form>
    Width: <input type="text" name="width" /><br />
    Height: <input type="text" name="height" /><br />
    X offset: <input type="text" name="xoffset" /><br />
    Y offset: <input type="text" name="yoffset" /><br />
  </form>
  Background: <br/>
  <form action="">
    <select name="backgroundtype">
      <option value="Image" selected="selected">Image</option>
    </select>
    <select name="backgroundimage">
      <option value="bg1.png" selected="selected">bg1.png</option>
    </select>
  </form> 
  <input type="button" value= "Images...">

<h4>Constructor</h4>
  <p>Parameters:</p>
  <table>
    <tr>
      <td></td>
    </tr>
  </table>
  <input type="button" value="Add">
  <input type="button" value="Edit">
  <input type="button" value="Remove">

  <p>Actions:</p>
  <table>
    <tr>
      <td></td>
    </tr>
  </table>
  <input type="button" value= "Add">
  <input type="button" value= "Edit">
  <input type="button" value= "Remove">
