<div id="projectControlls">
<div class="sectionHeader">Project</div>
<table border="0px">
	<tr>
		<td><button class="awesome" id="runProject">Run</button></td>
		<td><button class="awesome" id="newProject">New</button></td>
		<td><button class="awesome" id="openProject">Open</button></td>
	</tr>
</table>
</div>